<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />

    <meta name="theme-color" content="#8cb4d6" />
    <link rel="manifest" href="manifest.json" />

    <title>CultureHQ.com - A Better Workplace Community</title>
    <link type="text/css" rel="stylesheet" href="application.css" />

    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />

    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <body>
    <div id="messages"></div>

    <script src="application.js"></script>
    <noscript>This application requires JavaScript.</noscript>
  </body>
</html>
